---
layout: default
---

    <div class="hentry">
      <h2 class="entry-title"><a href="{{ page.url }}" title="Permalink to {{ page.title }}" rel="bookmark">{{ page.title }}</a></h2>
      <div class="entry-date"><abbr class="updated" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</abbr></div>
      {{ content }}
      <div class="entry-meta">
        <span class="author vcard">By <a class="url fn n" href="http://bradley-holt.blogspot.com/">Bradley Holt</a></span>
      </div>
    </div>

